.wrapper {
   position: relative;
   display: flex;
   justify-content: center;
   width: 100%;
   padding: 15px 60px;
   background-color: #f4f4f4;
}
.back-icon {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   background: rgba(22, 24, 35, 0.03);
   border-radius: 50%;
}
.body-container {
   flex: 1;
   display: flex;
   justify-content: space-between;
   align-items: stretch;
   width: 1200px;
   max-width: 1200px;
   min-width: 1200px;
   height: calc(100vh - 90px);
}

.title-container {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
   background-color: #fff;
   border-radius: 8px;
   width: 400px;
   margin-left: 30px;
   padding: 16px 0px;
}
.title-content {
   display: flex;
   align-items: center;
   padding: 14px 24px;
   height: 54px;
}
.title {
   margin-left: 10px;
   font-size: 18px;
   letter-spacing: 0.3px;
}
.content-container {
   overflow-y: auto;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
   background-color: #fff;
   border-radius: 8px;
   width: 750px;
   height: 100%;
   padding: 16px 24px 24px;
}
.edit-profile {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   border-bottom: 2px solid rgba(22, 24, 35, 0.1);
   margin-top: 10px;
}
.label-content {
   font-weight: 600;
   font-size: 26px;
   letter-spacing: 0.2px;
   margin-bottom: 10px;
}
.edit-profile-container {
   display: flex;
   justify-content: space-between;
   padding: 20px;
}
.edit-avatar {
   position: relative;
   display: flex;
   justify-content: center;
   padding: 10px;
}
.image {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   object-fit: cover;
}
.edit-icon {
   position: absolute;
   right: 10px;
   bottom: 110px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 1px solid rgba(22, 24, 35, 1);
}
.edit-content {
   flex: 1;
   display: flex;
   flex-direction: column;
   padding: 10px;
   margin-left: 20px;
}
.edit-name {
   display: flex;
   align-items: center;
   height: 40px;
   margin-bottom: 10px;
   input {
      border: 1px solid rgba(22, 24, 35, 0.8);
      border-radius: 4px;
      width: 320px;
      height: 100%;
      padding: 10px;
      caret-color: var(--primary);
      font-size: 16px;
      font-weight: 500px;
      background-color: rgba(22, 24, 35, 0.1);
      color: rgba(22, 24, 35, 1);
      &:hover {
         background-color: rgba(22, 24, 35, 0.06);
      }
   }
}
.subtitle {
   display: block;
   width: 90px;
   height: 100%;
   font-weight: 500;
   font-size: 20px;
   margin-right: 20px;
}
.edit-bio {
   display: flex;
   align-items: center;
   height: 100px;
   margin-bottom: 10px;
   textarea {
      border: 1px solid rgba(22, 24, 35, 0.8);
      border-radius: 4px;
      width: 320px;
      height: 100%;
      padding: 10px;
      caret-color: var(--primary);
      font-size: 16px;
      font-weight: 500px;
      background-color: rgba(22, 24, 35, 0.1);
      color: rgba(22, 24, 35, 1);
      &:hover {
         background-color: rgba(22, 24, 35, 0.06);
      }
   }
}
.submit-button {
   margin-top: 40px;
   margin-left: 200px;
}
.manage-account {
   display: flex;
   flex-direction: column;
   padding: 10px;
   margin-top: 10px;
   border-bottom: 2px solid rgba(22, 24, 35, 0.1);
}
.sublabel {
   font-weight: 500;
   font-size: 20px;
   margin-left: 20px;
   margin-top: 10px;
}
.delete-account {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 10px 0px;
   span {
      font-weight: 500;
      font-size: 20px;
      margin-left: 20px;
   }
   button {
      color: var(--primary);
      background-color: transparent;
   }
}
.privacy {
   display: flex;
   flex-direction: column;
   padding: 10px;
   margin-top: 10px;
   border-bottom: 2px solid rgba(22, 24, 35, 0.1);
}
.active-private {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 10px;
   span {
      font-weight: 500;
      font-size: 20px;
      margin-left: 20px;
   }
}
.note {
   font-size: 14px;
   line-height: 15px;
   color: rgba(22, 24, 35, 0.6);
   margin: 5px 84px 20px 20px;
}
.notifications {
   display: flex;
   flex-direction: column;
   padding: 10px;
   margin-top: 10px;
   border-bottom: 2px solid rgba(22, 24, 35, 0.1);
}
.allow-browser {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 10px;
   span {
      font-weight: 500;
      font-size: 20px;
      margin-left: 20px;
   }
}
.business-account {
   display: flex;
   flex-direction: column;
   padding: 10px;
   margin-top: 10px;
   border-bottom: 2px solid rgba(22, 24, 35, 0.1);
}
.active-account {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 10px;
   span {
      font-weight: 500;
      font-size: 20px;
      margin-left: 20px;
   }
}
